<footer op-60>
  <p mt-6 text-sm text-slate>
    <span pr-1>Made by</span>
    <a
    border-b border-slate border-none hover:border-dashed
      href="https://www.adwangmai.com/" target="_blank"
    >
      旺脉
    </a>
  </p>
</footer>
